@import "_variables.scss";

body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.accoridans {
    max-width: 800px;
    width: 100%;
    background-color: #1765b5;
    color: #ffff;
    padding: 20px;

    &-button {
        padding: 20px;

        label {
            font-size: 20px;
        }

    }

    &-info {
        padding: 0 20px;
    }

    &-title {
        display: flex;
        align-items: center;
        padding: 10px;
        justify-content: space-between;
        font-size: 25px;
        border: 1px solid #fff;
        cursor: pointer;

        @include bp-mobile-max {
            gap: 15px;
        }
    }

    h1 {
        margin: 0;
        font-family: 300;
    }


&-icon {
    transform: rotate(268deg);
    font-size: 25px;
    font-weight: 700;

    &.active {
        transform: rotate(91deg);
    }
}

&-contnent {
    p {
        font-size: 18px;
    }

    display: none;

    &.active {
        display: block;
    }
}

}