@import "_variables.scss";
body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0;
    margin: 0;
}


.card {
    &-container {
        display: flex;
        gap: 30px;
        max-width: 800px;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 5px;
        padding-right: 20px;
        @include bp-mobile-max{
            max-width: 280px;
            flex-direction: column;
            padding: 20px;
        }

    }

    &-img img {
        width: 300px;
        height: 100%;
        clip-path: polygon(0 0, 100% 0, 91% 100%, 0% 100%);
        @include bp-mobile-max{
            width: 100%;
            clip-path: none;
        }
    }

    &-title {
        font-size: 27px;
        font-weight: bold;
        margin: 0;
    }

    &-sub {
        font-size: 20px;
        text-transform: uppercase;
        color: #c9c9c5;
        margin: 0;
        padding-top: 10px;
    }

    &-div::after {
        content: "";
        width: 35px;
        height: 5px;
        background-color: #7cde97;
        display: block;
        border-radius: 50px;
        margin-top: 10px;

    }

    &-paragraph {
        color: black;
        font-size: 20px;
        @include bp-mobile-max{
           word-break: break-all;
        }
    }
    &-holder-button{
        display: flex;
        justify-content: flex-end;
    }

    &-button {
        color: #6fddbc;
        border: none;
        background-color: transparent;
        text-transform: capitalize;
        font-size: 20px;
        text-decoration: underline;
        padding-bottom: 10px;
    }

    button {
        display: flex;
        justify-content: flex-end;
    }


}